body{
	font-family: 'Merriweather Sans', sans-serif;
}

.my-bg-blue{
	background-color:#2C3E50;
}

.my-bg-turquoise{
	background-color: #1ABC9C;
}

.my-bg-lightblue{
	background-color: #3A546D;
}

.my-turquoise{
	color: #1ABC9C;
}

.my-divider-bar{
	height:4px;
	width:10%;
}

.my-social-icon{
	width:65px;
	height:65px;
}

.my-pb-7{
	padding-bottom:7rem;
}

section#jumbotron figure.my-jumbo-img{
	width:220px;
}




