.my-bg-blue{
	background-color:#2C3E50;
}

.my-bg-turquoise{
	background-color: #1ABC9C;
}

.my-bg-lightblue{
	background-color: #3A546D;
}

.my-box{
	font-size:.8rem;
	padding:1rem;
	border:1px solid black;
}