body{
	font-family: 'Merriweather Sans', sans-serif;
}

.my-bg-blue{
	background-color:#2C3E50;
}

.my-bg-turquoise{
	background-color: #1ABC9C;
}

.my-bg-lightblue{
	background-color: #3A546D;
}

section#jumbotron figure.my-jumbo-img{
	width:220px;
}

section#jumbotron h2.my-jumbo-brand{
	font-size:3.8rem;
}

section#jumbotron div.my-divider-bar{
	height:4px;
	width:11rem;
}

